{% extends "layout.html" %}
{% block content %}
   <div class="container" class="user-details-header">
  	<div class="row">
  	<div class="col-md-2">
  			 
  		</div>
  		<div class="col-md-10">
  			<span class="account-name" style="font-size:25px;"> {{title}}   <hr></span>
          	<a href="{{url}}" target="_blank">Watch Video</a>
  		</div>
  	</div> 	
  </div>
     
     
     
     <div class="container">
  	<h2>Basic video information and analysis</h2>
  	<hr>
  	<div class="row">
  		<div class="col-md-4">
  			<h3>Basic Information</h3>
  			 
  		</div>
  		<div class="col-md-8">
  			<ul class="list-group list-group-flush">
			  <li class="list-group-item"><b>Video Title</b>                :  {{title}}</li>
			  <li class="list-group-item"><b>Description</b>                :  {{des}}</li>
			  <li class="list-group-item"><b>Video ID</b>                   :  {{name}}</li>
			  <li class="list-group-item"><b>Uploaded on</b>                :  {{date}}</li>
			  <li class="list-group-item"><b>Duration</b>                   :  {{duration}}</li>
			  <li class="list-group-item"><b>Channel Id</b>                 :  {{channel}}</li>
			</ul>
  		</div>
  		
  	</div>
    <hr>
     <div class="row">
      <div class="col-md-4">
        <h3> Status & Other</h3>
         
      </div>
      <div class="col-md-8">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><b>Status</b>                  :   {{status}}</li>
          <li class="list-group-item"><b>Privacy</b>                 :  {{privacy}}</li>
          <li class="list-group-item"><b>Language</b>                :  {{language}}</li>
          <li class="list-group-item"><b>Category</b>                :  {{category}}  </li>
          
        </ul>
        
      </div>
      
    </div> 
     
    <hr>
    <div class="row">
      <div class="col-md-4">
        <h3>Statistics</h3>
         
      </div>
      <div class="col-md-8">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><b>Toatl no. of views</b>               :  {{views}}</li>
          <li class="list-group-item"><b>Number of Likes</b>                  :  {{likes}}</li>
          <li class="list-group-item"><b>Number of Dislikes</b>               :  {{dislikes}}</li>
          
        </ul>
        
 			<div id="pieChartLikes" style="height: 300px; width: 100%;"></div>
      	
      </div>
     </div>
     
     
     
      <hr>
    <div class="row">
      <div class="col-md-4">
        <h3>Analysis of Comments</h3>
         <p>Only top level comments are considered for sentiment analysis here, because replies do not directly refer to the video.</p>
      </div>
      <div class="col-md-8">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><b>Total No. of Comments</b>               :  {{topcom + replyCount}}</li>
          <li class="list-group-item"><b>No. of Top Level Comments</b>           :  {{topcom}}</li>
          <li class="list-group-item"><b>No. of Replies</b>                      :  {{replyCount}}</li>
    
        </ul>
        
        <div id="pieChartComments" style="height: 300px; width: 100%;"></div>
        
      </div>
     </div>
     
     
     
    
<script type="text/javascript">
window.onload = function() {

var options = {
	exportEnabled: false,
	animationEnabled: true,
	 
	legend:{
		horizontalAlign: "right",
		verticalAlign: "center"
	},
	data: [{
		type: "pie",
		showInLegend: true,
		toolTipContent: "<b>{name}</b>: {y} (#percent%)",
		indexLabel: "{name}",
		indexLabelPlacement: "outside",
		dataPoints: [
			{ y: {{likes}}, name: "Likes",legendText: "#percent% of the viewers likes this video",color:"green" },
			{ y: {{dislikes}}, name: "Dislikes",legendText: "#percent% of the viewers dislikes this video",color:"red" },
			{ y: {{views-likes-dislikes}}, name: "Not rated",legendText: "#percent% of the viewers has not rated this video",color:"yellow"}
			
		]
	}]
};

var options1 = {
	exportEnabled: false,
	animationEnabled: true,
	title:{
		text: "Analysis of Top Level Comments"
	},
	 
	legend:{
		horizontalAlign: "right",
		verticalAlign: "center"
	},
	data: [{
		type: "pie",
		showInLegend: true,
		toolTipContent: "<b>{name}</b>: {y} (#percent%)",
		indexLabel: "{name}",
		legendText: "Percentage of {name}: #percent%",
		indexLabelPlacement: "outside",
		dataPoints: [
			{ y: {{poscom}}, name: "Positive Comments",color: "#00BFFF" },
			{ y: {{negcom}}, name: "Negative Comments" , color: "#7CFC00"},
			{ y: {{neucom}}, name: "Neutral Comments", color:"#191970"}
			
		]
	}]
};


$("#pieChartLikes").CanvasJSChart(options);
$("#pieChartComments").CanvasJSChart(options1);


}
</script>  
	   
{% endblock content %}