{% extends "layout.html" %}
{% block content %}
<div style="height: 50px;"></div>
<style>
div.hidden {
  display: none;
}
</style>

   <div class="container" class="user-details-header">
  	<div class="row">
  	<div class="col-md-2">
  			 
  		</div>
  		<div class="col-md-10">
  			<span class="account-name" style="font-size:25px;"> {{title}}   <hr></span>
          	<a href="{{url}}" target="_blank">Watch Video</a>
  		</div>
  	</div> 	
  </div>
     
     
     
     <div class="container">
  	<h2>Basic video information and analysis</h2>
  	<hr>
  	<div class="row">
  		<div class="col-md-4">
  			<h3>Basic Information</h3>
  			 
  		</div>
  		<div class="col-md-8">
  			<ul class="list-group list-group-flush">
			  <li class="list-group-item"><b>Video Title</b>                :  {{title}}</li>
			  <li class="list-group-item"><b>Description</b>                :  {{des}}</li>
			  <li class="list-group-item"><b>Video ID</b>                   :  {{name}}</li>
			  <li class="list-group-item"><b>Uploaded on</b>                :  {{Date}}</li>
			  <li class="list-group-item"><b>Duration</b>                   :  {{duration}}</li>
			  <li class="list-group-item"><b>Channel Id</b>                 :  {{channel}}</li>
			</ul>
  		</div>
  		
  	</div>
    <hr>
     <div class="row">
      <div class="col-md-4">
        <h3> Status & Other</h3>
         
      </div>
      <div class="col-md-8">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><b>Status</b>                  :   {{status}}</li>
          <li class="list-group-item"><b>Privacy</b>                 :  {{privacy}}</li>
          <li class="list-group-item"><b>Language</b>                :  {{language}}</li>
          <li class="list-group-item"><b>Category</b>                :  {{category}}  </li>
          
        </ul>
        
      </div>
      
    </div> 
     
    <hr>
    <div class="row">
      <div class="col-md-4">
        <h3>Statistics</h3>
         
      </div>
      <div class="col-md-8">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><b>Toatl no. of views</b>               :  {{views}}</li>
          <li class="list-group-item"><b>Number of Likes</b>                  :  {{likes}}</li>
          <li class="list-group-item"><b>Number of Dislikes</b>               :  {{dislikes}}</li>
          
        </ul>
        
 			<div id="pieChartLikes" style="height: 300px; width: 100%;"></div>
      	
      </div>
     </div>
     
     
     
      <hr>
    <div class="row">
      <div class="col-md-4">
        <h3>Analysis of Comments</h3>
         <p>Only top level comments are considered for sentiment analysis here, because replies do not directly refer to the video.</p>
         <br/>
         <p>Top level are filtered to extract English comments before analysis.</p>
      </div>
      <div class="col-md-8">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><b>Total No. of Comments</b>               :  {{topcom + replyCount}}</li>
          <li class="list-group-item"><b>No. of Top Level Comments</b>           :  {{topcom}}</li>
          <li class="list-group-item"><b>No. of Replies</b>                      :  {{replyCount}}</li>
          <li class="list-group-item"><b>No. of Analysed Comments</b>            :  {{analysedCom}}</li>
    
        </ul>
        
        <div id="pieChartComments" style="height: 300px; width: 100%;"></div>
        
        <br/>
        
        <div class="container">
          <div class="row">
            <div class="col text-center">
              <button type="button" class="btn btn-info" value="Comments" id="btn1" >Comments</button>
            </div>
          </div>
        </div>
        
        
        <br/>
        
        <div class="hidden" id= "comments">
         <p style="text-align:center;">Here are some of the comments of this video categorized according to their sentiment.</p>
      
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><b>Positive Comments</b>                :  <ul style="list-style-type:disc">
                                                                                  {% for comment in exPosCom %}
                                                                                  <li>{{comment}}</li><br/>
                                                                                  {% endfor %}</ul></li>
          <li class="list-group-item"><b>Negative Comments</b>                :  <ul style="list-style-type:disc">
                                                                                  {% for comment in exNegCom %}
                                                                                  <li>{{comment}}</li><br/>
                                                                                  {% endfor %}</ul></li>
          <li class="list-group-item"><b>Neutral Comments</b>                 :  <ul style="list-style-type:disc">
                                                                                  {% for comment in exNeuCom %}
                                                                                  <li>{{comment}}</li><br/>
                                                                                  {% endfor %}</ul></li>
        </ul>
     </div>
      </div>
     </div>
     
    
       
<script type="text/javascript">

document.getElementById("btn1").addEventListener("click", function()
{
    var box = document.getElementById("comments");
    console.log(box.style.display)
    if(box.style.display=="block")
    {
        box.style.display="none"
    }
    else
    {
        box.style.display="block"
    }
})



window.onload = function() {

var options = {
	exportEnabled: false,
	animationEnabled: true,
	 
	legend:{
		horizontalAlign: "right",
		verticalAlign: "center"
	},
	data: [{
		type: "pie",
		showInLegend: true,
		toolTipContent: "<b>{name}</b>: {y}",
		indexLabel: "{name}",
		indexLabelPlacement: "outside",
		dataPoints: [
			{ y: {{likes}}, name: "Likes",legendText: "#percent% of the viewers likes this video",color:"green" },
			{ y: {{dislikes}}, name: "Dislikes",legendText: "#percent% of the viewers dislikes this video",color:"red" },
			{ y: {{views-likes-dislikes}}, name: "Not rated",legendText: "#percent% of the viewers has not rated this video",color:"#00FFFF"}
			
		]
	}]
};

var options1 = {
	exportEnabled: false,
	animationEnabled: true,
	title:{
		text: "Analysis of Top Level Comments"
	},
	 
	legend:{
		horizontalAlign: "right",
		verticalAlign: "center"
	},
	data: [{
		type: "pie",
		showInLegend: true,
		toolTipContent: "<b>{name}</b>: {y} ",
		indexLabel: "{name}",
		legendText: "Percentage of {name}: #percent%",
		indexLabelPlacement: "outside",
		dataPoints: [
			{ y: {{poscom}}, name: "Positive Comments",color: "#7CFC00" },
			{ y: {{negcom}}, name: "Negative Comments" , color: "red"},
			{ y: {{neucom}}, name: "Neutral Comments", color:"#191970"}
			
		]
	}]
};


$("#pieChartLikes").CanvasJSChart(options);
$("#pieChartComments").CanvasJSChart(options1);


}
</script>  
	   
{% endblock content %}