{% extends "layout.html" %}
{% block content %}

<script>
    var all= {{ best_results | tojson }} ;
    var spend_results=all[1];
    clicks_ch_data=[]
    impre_ch_data=[]
    spend_results.forEach(add_data);
    function add_data(item, index) {
        clicks_ch_data.push({x:item[0],y:item[1]});
        impre_ch_data.push({x:item[0],y:item[2]});
    }
</script>
<script>
    window.onload = function () {

    //Better to construct options first and then pass it as a parameter
    var gender_options = {
        animationEnabled: true,
        title: {
            text: "Select The Best Gender for Your Advertisement",                
            fontColor: "Peru"
        },	
        axisY: {
            tickThickness: 0,
            lineThickness: 0,
            valueFormatString: " ",
            gridThickness: 0                    
        },
        axisX: {
            tickThickness: 0,
            lineThickness: 0,
            labelFontSize: 18,
            labelFontColor: "Peru"				
        },
        data: [{
            indexLabelFontSize: 26,
            toolTipContent: "<span style=\"color:#62C9C3\">{indexLabel}:</span> <span style=\"color:#CD853F\"><strong>{y}</strong></span>",
            indexLabelPlacement: "inside",
            indexLabelFontColor: "white",
            indexLabelFontWeight: 600,
            indexLabelFontFamily: "Verdana",
            color: "#62C9C3",
            type: "bar",
            dataPoints: [
            { y: parseInt('{{best_results[0][2]}}'), label: '{{best_results[0][2]}}', indexLabel: "All" },
            { y: parseInt('{{best_results[0][1]}}'), label: '{{best_results[0][1]}}', indexLabel: "Female" },
            { y: parseInt('{{best_results[0][0]}}'), label: '{{best_results[0][0]}}', indexLabel: "Male" },
            ]
        }]
    };

    var day_options = {
        animationEnabled: true,
        title: {
            text: "Select The Best Weekday for Your Advertisement",                
            fontColor: "Peru"
        },	
        axisY: {
            tickThickness: 0,
            lineThickness: 0,
            valueFormatString: " ",
            gridThickness: 0                    
        },
        axisX: {
            tickThickness: 0,
            lineThickness: 0,
            labelFontSize: 18,
            labelFontColor: "Peru"				
        },
        data: [{
            indexLabelFontSize: 26,
            toolTipContent: "<span style=\"color:#D3FF33\">{indexLabel}:</span> <span style=\"color:#CD853F\"><strong>{y}</strong></span>",
            indexLabelPlacement: "inside",
            indexLabelFontColor: "white",
            indexLabelFontWeight: 600,
            indexLabelFontFamily: "Verdana",
            color: "#D3FF33",
            type: "bar",
            dataPoints: [
            { y: parseInt('{{best_results[2]["sat"]}}'), label: '{{best_results[2]["sat"]}}', indexLabel: "Saturday" },
            { y: parseInt('{{best_results[2]["fri"]}}'), label: '{{best_results[2]["fri"]}}', indexLabel: "Friday" },
            { y: parseInt('{{best_results[2]["thu"]}}'), label: '{{best_results[2]["thu"]}}', indexLabel: "Thursday" },
            { y: parseInt('{{best_results[2]["wed"]}}'), label: '{{best_results[2]["wed"]}}', indexLabel: "Wednesday" },
            { y: parseInt('{{best_results[2]["tue"]}}'), label: '{{best_results[2]["tue"]}}', indexLabel: "Tuesdayday" },
            { y: parseInt('{{best_results[2]["mon"]}}'), label: '{{best_results[2]["mon"]}}', indexLabel: "Monday" },
            { y: parseInt('{{best_results[2]["sun"]}}'), label: '{{best_results[2]["sun"]}}', indexLabel: "Sunday" },
            ]
        }]
    };


    
var spend_chart = new CanvasJS.Chart("spend_chartContainer", {
	animationEnabled: true,
	title:{
		text: "Clicks And Impressions with Ad spends"
	},
	toolTip: {
		shared: true
	},
	axisX: {
		title: "Ad spend",
		// suffix : " RUB"
	},
	axisY: {
		title: "Clicks",
		titleFontColor: "#4F81BC",
		// suffix : " m/s",
		lineColor: "#4F81BC",
		tickColor: "#4F81BC"
	},
	axisY2: {
		title: "Impressions",
		titleFontColor: "#C0504E",
		// suffix : " m",
		lineColor: "#C0504E",
		tickColor: "#C0504E"
	},
	data: [{
		type: "spline",
		name: "clicks",
		xValueFormatString: "#### RUB",
		// yValueFormatString: "#,##0  ",
        
		dataPoints: clicks_ch_data
	},
	{
		type: "spline",  
		axisYType: "secondary",
		name: "impressions",
		// yValueFormatString: "#,##0.# ",
		dataPoints: impre_ch_data
	}]
});
    spend_chart.render();

    $("#gender_chartContainer").CanvasJSChart(gender_options);
    $("#day_chartContainer").CanvasJSChart(day_options);
    }
    </script>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-6">
            <div>
                <h1 >Impressions should be {{ results['impressions'] }}</h1>
                <h1>Clicks should be {{ results['clicks'] }}</h1>
            </div>
            <div>
                <div id="gender_chartContainer" style="height: 250px; width: 100%;"></div>
                <br>
                <div id="spend_chartContainer" style="height: 300px; width: 100%;"></div>
                <br>
                <div id="day_chartContainer" style="height: 300px; width: 100%;"></div>
                <br>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3">
          <h4>Give it a spin!</h4>
          <p>Just click following link below to explore the facebook..!</p>
          <div class="list-group">
            <a href="{{url_for('facebook.facebookAd')}}" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#adpredictmodel" >Advertisements Analysis</a>
            <a href="#" class="list-group-item list-group-item-action"  data-toggle="modal" data-target="#sentimentmodel">Comments Analysis</a>
            <a href="{{url_for('facebook.fblikes') }}" class="list-group-item list-group-item-action" data-toggle="modal" >Likes Count Prediction</a>
            <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#botdetectionmodel">Bot detection</a>
          </div>
        </div>
        <div class="col-md-1"></div>
    </div>



  <!-- model navigator -->
  <!-- ad predict form -->
  <div class="modal fade" id="adpredictmodel" tabindex="-1" role="dialog" aria-labelledby="adpredictmodel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="model-body" style="margin-left: 20px;margin-right: 20px;">

            <form method="POST" action="/fbAdClicksPredict">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Predict Clicks for Your Advertisement</legend>
                    <div class="form-group">
                        {{ form.gender.label(class="form-control-label") }}
                        {% if form.gender.errors %}
                            {{ form.gender(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.gender.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.gender(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.adText.label(class="form-control-label") }}
                        {% if form.adText.errors %}
                            {{ form.adText(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.adText.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.adText(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.weekday.label(class="form-control-label") }}
                        {% if form.weekday.errors %}
                            {{ form.weekday(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.weekday.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.weekday(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.minAge.label(class="form-control-label") }}
                        {% if form.minAge.errors %}
                            {{ form.minAge(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.minAge.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.minAge(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.maxAge.label(class="form-control-label") }}
                        {% if form.maxAge.errors %}
                            {{ form.maxAge(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.maxAge.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.maxAge(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.adSpends.label(class="form-control-label") }}
                        {% if form.adSpends.errors %}
                            {{ form.adSpends(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.adSpends.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.adSpends(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                </fieldset>
                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
            </form>
                    
        </div>
      </div>
    </div>
  </div>
<!-- end of ad predict function -->

    <!-- sentiment form-->
    <div class="modal fade" id="sentimentmodel" tabindex="-1" role="dialog" aria-labelledby="sentimentmodel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="model-body" style="margin-left: 20px;margin-right: 20px;">
                <form action="/sentiment" method="post" enctype="multipart/form-data">
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Analyze Comments of Your Post</legend>
                        <div class="form-group">
                            <label for="upload" class="form-control-label">HTML File :</label> 
                            <input type="file" name="upload"class="form-control form-control-lg" >
                        </div>
                    </fieldset>
                    <div class="form-group">
                        <button type="submit" class="btn btn-outline-info">Analyse</button> 
                    </div>

                </form>
                        
            </div>
          </div>
        </div>
      </div>
<!-- end of sentiment form -->

<!-- end of model navigator -->
{% endblock content %}