{% extends "layout.html" %}
{% block content %}
<script>
    function displayPositive(){
        document.getElementById("pos").style.display = "block";
        document.getElementById("neu").style.display = "none";
        document.getElementById("neg").style.display = "none";
    }
    function displayNeutral(){
        document.getElementById("neu").style.display = "block";
        document.getElementById("pos").style.display = "none";
        document.getElementById("neg").style.display = "none";
    }
    function displayNegative(){
        document.getElementById("neg").style.display = "block";
        document.getElementById("neu").style.display = "none";
        document.getElementById("pos").style.display = "none";
    }
</script>
<script>
    window.onload = function() {

    var chart = new CanvasJS.Chart("chartContainer", {
        animationEnabled: true,
        title: {
            text: "Comments Analysis"
        },
        data: [{
            type: "pie",
            startAngle: 240,
            yValueFormatString: "##0.00\"%\"",
            indexLabel: "{label} {y}",
            dataPoints: [
                {y: parseFloat('{{post_result["Positive"]}}'), label: "Positive"},
                {y: parseFloat('{{post_result["Negative"]}}'), label: "Negative"},
                {y: parseFloat('{{post_result["Neutral"]}}'), label: "Neutral"},

            ]
        }]
    });
    chart.render();
    
    }
    </script>
    <br><br>
<div class="row">
  <div class="col-md-1"></div>    
    <div class="col-md-6" style="text-align: center;">
        <h3>Post Final Analysis - {{post_result['final']}}</h3>
        <div id="chartContainer" style="height: 300px; width: 100%;" ></div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3">
      <h4>Give it a spin!</h4>
      <p>Just click following link below to explore the facebook..!</p>
      <div class="list-group">
        <a href="{{url_for('facebook.facebookAd')}}" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#adpredictmodel" >Advertisements Analysis</a>
        <a href="#" class="list-group-item list-group-item-action"  data-toggle="modal" data-target="#sentimentmodel">Comments Analysis</a>
        <a href="{{url_for('facebook.fblikes') }}" class="list-group-item list-group-item-action" data-toggle="modal" >Likes Count Prediction</a>
        <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#botdetectionmodel">Bot detection</a>
      </div>
    </div>
    <div class="col-md-1"></div>
</div>
<br><br>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-3">
      <div class="content-section">
        <h3>View Commments</h3>
        <ul class="list-group">
            <button class="list-group-item list-group-item-light" onclick="displayPositive()"> Positive Comments</button>
            <button class="list-group-item list-group-item-light" onclick="displayNeutral()"> Neutral Comments</button>
            <button class="list-group-item list-group-item-light" onclick="displayNegative()">Negative Comments</button>
        </ul>
        </p>
      </div>
    </div>
    <div class="col-md-5">
        <div id='pos'>
            <h1>Positive Comments</h1>
            {% for comment in all_comments[0] %}
            <div class="container">
                <div class='card' style="width: 100%;" >
                  <div class="card-body">
                    <label for="from">Comment from</label>
                    <a id="from" href="{{comment[2]}}">{{comment[1]}}</a>
                    <p>{{comment[0]}}</p>
                    <!-- <img src="{{comment[3]}}" alt="Jeffery Jar">
                    <h5>{{comment[3]}}</h5> -->
                    <!-- <h5>{{comment[4]}}</h5> -->
                    <!-- <h5>{{comment[5]}}</h5>       -->
                  </div>
                </div>
              </div>
              <br>
            {% endfor %}
        </div>
        <div id="neu">    
            <h1>Neutral Comments</h1>
            {% for comment in all_comments[1] %}
            <div class="container">
                <div class="card" >
                  <div class="card-body">
                    <label for="from">Comment from</label>
                    <a id="from" href="{{comment[2]}}">{{comment[1]}}</a>
                    <p>{{comment[0]}}</p>
                    <!-- <img class='_3me- _3mf1 img'src="{{comment[3]}}" alt="Jeffery Jar">
                    <h5>{{comment[3]}}</h5> -->
                    <!-- <h5>{{comment[3]}}</h5>
                    <h5>{{comment[4]}}</h5>
                    <h5>{{comment[5]}}</h5>       -->
                  </div>
                </div>
              </div>
              <br>
            {% endfor %}
        </div>
        <div id="neg">
            <h1>Negative Comments</h1>
            {% for comment in all_comments[2] %}
            <div class="container">
                <div class="card">
                  <div class="card-body">
                    <label for="from">Comment from</label>
                    <a id="from" href="{{comment[2]}}">{{comment[1]}}</a>
                    <p>{{comment[0]}}</p>
                    <!-- <h5>{{comment[3]}}</h5>
                    <h5>{{comment[4]}}</h5>
                    <h5>{{comment[5]}}</h5>       -->
                  </div>
                </div>
              </div>
              <br>
            {% endfor %}
        </div>        
    </div>
    
  </div>


  <!-- model navigator -->
  <!-- ad predict form -->
	<div class="modal fade" id="adpredictmodel" tabindex="-1" role="dialog" aria-labelledby="adpredictmodel" aria-hidden="true">
		<div class="modal-dialog">
		  <div class="modal-content">
			<div class="modal-header">
			  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			  </button>
			</div>
			<div class="model-body" style="margin-left: 20px;margin-right: 20px;">
	
				<form method="POST" action="/fbAdClicksPredict">
					{{ form.hidden_tag() }}
					<fieldset class="form-group">
						<legend class="border-bottom mb-4">Predict Clicks for Your Advertisement</legend>
						<div class="form-group">
							{{ form.gender.label(class="form-control-label") }}
							{% if form.gender.errors %}
								{{ form.gender(class="form-control form-control-lg is-invalid") }}
								<div class="invalid-feedback">
									{% for error in form.gender.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %}
								{{ form.gender(class="form-control form-control-lg") }}
							{% endif %}
						</div>
						<div class="form-group">
							{{ form.adText.label(class="form-control-label") }}
							{% if form.adText.errors %}
								{{ form.adText(class="form-control form-control-lg is-invalid") }}
								<div class="invalid-feedback">
									{% for error in form.adText.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %}
								{{ form.adText(class="form-control form-control-lg") }}
							{% endif %}
						</div>
						<div class="form-group">
							{{ form.weekday.label(class="form-control-label") }}
							{% if form.weekday.errors %}
								{{ form.weekday(class="form-control form-control-lg is-invalid") }}
								<div class="invalid-feedback">
									{% for error in form.weekday.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %}
								{{ form.weekday(class="form-control form-control-lg") }}
							{% endif %}
						</div>
						<div class="form-group">
							{{ form.minAge.label(class="form-control-label") }}
							{% if form.minAge.errors %}
								{{ form.minAge(class="form-control form-control-lg is-invalid") }}
								<div class="invalid-feedback">
									{% for error in form.minAge.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %}
								{{ form.minAge(class="form-control form-control-lg") }}
							{% endif %}
						</div>
						<div class="form-group">
							{{ form.maxAge.label(class="form-control-label") }}
							{% if form.maxAge.errors %}
								{{ form.maxAge(class="form-control form-control-lg is-invalid") }}
								<div class="invalid-feedback">
									{% for error in form.maxAge.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %}
								{{ form.maxAge(class="form-control form-control-lg") }}
							{% endif %}
						</div>
						<div class="form-group">
							{{ form.adSpends.label(class="form-control-label") }}
							{% if form.adSpends.errors %}
								{{ form.adSpends(class="form-control form-control-lg is-invalid") }}
								<div class="invalid-feedback">
									{% for error in form.adSpends.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %}
								{{ form.adSpends(class="form-control form-control-lg") }}
							{% endif %}
						</div>
					</fieldset>
					<div class="form-group">
						{{ form.submit(class="btn btn-outline-info") }}
					</div>
				</form>
						
			</div>
		  </div>
		</div>
	  </div>
	<!-- end of ad predict function -->

		<!-- sentiment form-->
		<div class="modal fade" id="sentimentmodel" tabindex="-1" role="dialog" aria-labelledby="sentimentmodel" aria-hidden="true">
			<div class="modal-dialog">
			  <div class="modal-content">
				<div class="modal-header">
				  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				  </button>
				</div>
				<div class="model-body" style="margin-left: 20px;margin-right: 20px;">
					<form action="/sentiment" method="post" enctype="multipart/form-data">
						<fieldset class="form-group">
							<legend class="border-bottom mb-4">Analyze Comments of Your Post</legend>
							<div class="form-group">
								<label for="upload" class="form-control-label">HTML File :</label> 
								<input type="file" name="upload"class="form-control form-control-lg" >
							</div>
						</fieldset>
						<div class="form-group">
							<button type="submit" class="btn btn-outline-info">Analyse</button> 
						</div>

					</form>
							
				</div>
			  </div>
			</div>
		  </div>
    <!-- end of sentiment form -->
    
<!-- end of model navigator -->

    <script>
    document.getElementById("pos").style.display = "none";
    document.getElementById("neu").style.display = "none";
    document.getElementById("neg").style.display = "none";
</script>
{% endblock content %}
