{% extends "layout.html" %}
{% block content %}
	<div class="jumbotron jumbotron-fluid">
	  <div class="container">
	  	<div class="row">
	  		<div class="col-12 col-md-8 col-lg-9">
	  			<h1 class="display-4 font-weight-bold">Facebook Analytics</h1>
	    		<p class="lead">
	    			This is an Facebook analytics application that gives you rich insights about any public Facebook profile. We gather near real-time data about topics, mentions, hashtags, followers, location and more!
				</p>
	  		</div>
	  		<div class="col-12 col-md-4 col-lg-3 d-none d-sm-none d-sm-block">
		    	<img class="twitter-img" src="{{ url_for('static', filename='images/facebook_logo.png') }}">
		    </div>
		  </div>

	    <!-- <nav aria-label="breadcrumb"> -->
		  <ol class="breadcrumb">
		    <li class="breadcrumb-item"><a href="{{url_for('main.home')}}">Home</a></li>
		    <li class="breadcrumb-item active" aria-current="page">Facebook</li>
		  </ol>
		<!-- </nav> -->
		<div class="row">
			<div class="col-12 col-md-6">
				<h4>Here's how it works</h4>
				<p>
					We gather the requested user's profile and latest tweets. We analyze the tweet's contents and tell you about topics usage in form of "tag clouds" so that you can easily understand which words were the most popular.
				</p>
				<p>
					We also show you things not shown on public Twitter pages, such as join date, timezone and followers ratio. With Foller.me it's very easy and incredibly fast to make up your mind on whether to follow somebody or not!
				</p>
			</div>
			<div class="col-12 col-md-6">
				<h4>Give it a spin!</h4>
				<p>Just click following link below to explore the facebook..!</p>
				<div class="list-group">
				  <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#adpredictmodel" >Advertisements Analysis</a>
				  <a href="#" class="list-group-item list-group-item-action"  data-toggle="modal" data-target="#sentimentmodel">Comments Analysis</a>
				  <a href="{{url_for('facebook.checkex') }}" >Likes Count Prediction</a>
				  <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#botdetectionmodel">Bot detection</a>
				</div>
			</div>
		</div>
	  </div>
	  
	</div>


	<!-- ad predict form -->
	<div class="modal fade" id="adpredictmodel" tabindex="-1" role="dialog" aria-labelledby="adpredictmodel" aria-hidden="true">
		<div class="modal-dialog">
		  <div class="modal-content">
			<div class="modal-header">
			  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			  </button>
			</div>
			<div class="model-body" style="margin-left: 20px;margin-right: 20px;">
	
				<form method="POST" action="/fbAdClicksPredict">
					{{ form.hidden_tag() }}
					<fieldset class="form-group">
						<legend class="border-bottom mb-4">Predict Clicks for Your Advertisement</legend>
						<div class="form-group">
							{{ form.gender.label(class="form-control-label") }}
							{% if form.gender.errors %}
								{{ form.gender(class="form-control form-control-lg is-invalid") }}
								<div class="invalid-feedback">
									{% for error in form.gender.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %}
								{{ form.gender(class="form-control form-control-lg") }}
							{% endif %}
						</div>
						<div class="form-group">
							{{ form.adText.label(class="form-control-label") }}
							{% if form.adText.errors %}
								{{ form.adText(class="form-control form-control-lg is-invalid") }}
								<div class="invalid-feedback">
									{% for error in form.adText.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %}
								{{ form.adText(class="form-control form-control-lg") }}
							{% endif %}
						</div>
						<div class="form-group">
							{{ form.weekday.label(class="form-control-label") }}
							{% if form.weekday.errors %}
								{{ form.weekday(class="form-control form-control-lg is-invalid") }}
								<div class="invalid-feedback">
									{% for error in form.weekday.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %}
								{{ form.weekday(class="form-control form-control-lg") }}
							{% endif %}
						</div>
						<div class="form-group">
							{{ form.minAge.label(class="form-control-label") }}
							{% if form.minAge.errors %}
								{{ form.minAge(class="form-control form-control-lg is-invalid") }}
								<div class="invalid-feedback">
									{% for error in form.minAge.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %}
								{{ form.minAge(class="form-control form-control-lg") }}
							{% endif %}
						</div>
						<div class="form-group">
							{{ form.maxAge.label(class="form-control-label") }}
							{% if form.maxAge.errors %}
								{{ form.maxAge(class="form-control form-control-lg is-invalid") }}
								<div class="invalid-feedback">
									{% for error in form.maxAge.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %}
								{{ form.maxAge(class="form-control form-control-lg") }}
							{% endif %}
						</div>
						<div class="form-group">
							{{ form.adSpends.label(class="form-control-label") }}
							{% if form.adSpends.errors %}
								{{ form.adSpends(class="form-control form-control-lg is-invalid") }}
								<div class="invalid-feedback">
									{% for error in form.adSpends.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %}
								{{ form.adSpends(class="form-control form-control-lg") }}
							{% endif %}
						</div>
					</fieldset>
					<div class="form-group">
						{{ form.submit(class="btn btn-outline-info") }}
					</div>
				</form>
						
			</div>
		  </div>
		</div>
	  </div>
	<!-- end of ad predict function -->

		<!-- sentiment form-->
		<div class="modal fade" id="sentimentmodel" tabindex="-1" role="dialog" aria-labelledby="sentimentmodel" aria-hidden="true">
			<div class="modal-dialog">
			  <div class="modal-content">
				<div class="modal-header">
				  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				  </button>
				</div>
				<div class="model-body" style="margin-left: 20px;margin-right: 20px;">
					<form action="/sentiment" method="post" enctype="multipart/form-data">
						<fieldset class="form-group">
							<legend class="border-bottom mb-4">Analyze Comments of Your Post</legend>
							<div class="form-group">
								<label for="upload" class="form-control-label">HTML File :</label> 
								<input type="file" name="upload"class="form-control form-control-lg" >
							</div>
						</fieldset>
						<div class="form-group">
							<button type="submit" class="btn btn-outline-info">Analyse</button> 
						</div>

					</form>
							
				</div>
			  </div>
			</div>
		  </div>
		<!-- end of sentiment form -->


		<!-- bot form-->
		<div class="modal fade" id="botdetectionmodel" tabindex="-1" role="dialog" aria-labelledby="botdetectionmodel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="model-body" style="margin-left: 20px;margin-right: 20px;">
					<form action="/bot" method="post" enctype="multipart/form-data">
						<fieldset class="form-group">
							<legend class="border-bottom mb-4">Detect Bot Accounts</legend>
							<div class="form-group">
								<label for="link" class="form-control-label">Profile Link :</label> 
								<input type="text" name="link"class="form-control form-control-lg" >
							</div>
						</fieldset>
						<div class="form-group">
							<button type="submit" class="btn btn-outline-info">Ditect</button> 
						</div>

					</form>
							
				</div>
				</div>
			</div>
			</div>
	<!-- end of bot form-->
		
{% endblock content %}

