{% extends "layout.html" %}
{% block content %}


  <div class="container" class="user-details-header">
  	<div class="row">
  		<div class="col-md-2">
  			<img src="{{user.profile_image_url}}" alt="" class="img-thumbnail">
  		</div>
  		<div class="col-md-10">
  			<span class="account-name">{{user.name}} @{{user.screen_name}} <hr></span>
  			<p>{{user.description}}</p>
  		</div>
  		
  	</div> 	
  </div>
  <div class="container">
  	<h2>Overview Profile information and statistics</h2>
  	<hr>
  	<div class="row">
  		<div class="col-md-4">
  			<h3>Information</h3>
  			<p>The most important piece here is the join date. The longer they're on Twitter the better. Spam accounts and robots tend to get suspended after a couple of weeks.</p>
  		</div>
  		<div class="col-md-8">
  			<ul class="list-group list-group-flush">
			  <li class="list-group-item">Name             :  {{user.name}}<span class="badge {{badge}}">{{verified}}</span></li>
			  <li class="list-group-item">Joined Twitter on:  {{user._json.created_at}}</li>
			  <li class="list-group-item">Location         :  {{user.location}}</li>
			  <li class="list-group-item">Bio              :  {{user.description}}</li>
			  <li class="list-group-item">URL              :  <a href="{{user.url}}">{{user.url}}</a></li>
			</ul>
  		</div>
  		
  	</div>
    <hr>
    <div class="row">
      <div class="col-md-4">
        <h3>Statistics</h3>
        <p>More followers is good, but watch out for the follower-to-following ratio. A high ratio means that more people are following @{{user.screen_name}} out of good will, not follow-back.</p>
      </div>
      <div class="col-md-8">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Tweets           :  {{user.statuses_count}}</li>
          <li class="list-group-item">Followers        :  {{user.followers_count}}</li>
          <li class="list-group-item">Following        :  {{user.friends_count}}</li>
          <li class="list-group-item">Followers ratio  :  {{user.followers_count/user.friends_count}}</li>
          <li class="list-group-item">Listed           :  {{user.listed_count}}</li>
        </ul>
      </div>
      
    </div>
    <h2>Tweets Analysis</h2>
    <hr>
    <div class="row">
      <div class="col-md-4">
        <h3>100 Tweets</h3>
        <p><span class="badge badge-success">NEW!</span>We looked inside some of the tweets by @{{user.screen_name}} and here's what we found interesting.</p>
      </div>
      <div class="col-md-8">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Replies                      :  {{tweetsdata.replies}}</li>
          <li class="list-group-item">Tweets with @mentions        :  {{tweetsdata.mentions}}</li>
          <li class="list-group-item">Tweets with #hashtags        :  {{tweetsdata.hashtags}}</li>
          <li class="list-group-item">Retweets                     :  {{tweetsdata.retweets}}</li>
          <li class="list-group-item">Tweets with links            :  {{tweetsdata.links}}</li>
          <li class="list-group-item">Tweets with media            :  {{tweetsdata.medias}}</li>
        </ul>
        <!-- <table class="table">
          <tbody>
            <tr>
              <td>Replies</td>
              <td>{{tweetsdata.replies}}</td>
              <td> </td>
            </tr>
            <tr>
              <td>Tweets with @mentions</td>
              <td>{{tweetsdata.mentions}}</td>
            </tr>
            <tr>
              <td>Tweets with #hashtags</td>
              <td>{{tweetsdata.hashtags}}</td>
            </tr>
            <tr>
              <td>Retweets</td>
              <td>{{tweetsdata.retweets}}</td>
            </tr>  
            <tr>
              <td>Tweets with links</td>
              <td>{{tweetsdata.links}}</td>
            </tr>
            <tr> 
              <td>Tweets with media</td>
              <td>{{tweetsdata.medias}}</td>
            </tr>
            
          </tbody>
        </table> -->

      </div>
    </div>
  </div>
	


    <!-- <img src="{{user.profile_image_url}}"> -->
{% endblock content %}