<html>
<head></head> 
<body>
    
<form action="{{ url_for('fbLikePredict')}}" method="POST">
    <input type="date" id ='birthday' name="birthday" placeholder="birthday">
    <select name="gender" id="gender">
        <option value="Male">Male</option>
        <option value="Female">Female</option>
    </select>
    <!-- <input type="text" placeholder="gender"> -->
    <input id='friendcount' name='friendcount' type="int" placeholder="Friend Count">
    <button type="submit">Predict </button>
</form>


{{prediction_text}}
</body>   

</html>